.modal {
    --gap: 1.75rem;
    font-size: var(--fs-100);
    border: none;
    color: var(--clr-neutral-400);
    padding: 1.75rem;
    border-radius: 1rem;

    width: min(90%, 40rem);

    &__header-top {
        justify-content: space-between;
    }


    &__riser-reward {
        display: flex;
        flex-direction: column;
    }
}