@use "./abstracts/mixins" as *;

.riser {
    --gap: 1rem;

    /* First block */
    &__block {
        background: var(--clr-neutral-000);
        color: var(--clr-neutral-400);

        padding: 2.5rem;

        border-radius: 1rem;
        border: 1px solid var(--clr-neutral-300);
    }
    

    &__header {
        --gap: 3rem;

        position: relative;
        justify-content: center;
        flex-direction: column;
    }


    &__mastercraft-logo {
        width: 50px;

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    

    &__header-title {
        --gap: 0.5rem;
        text-align: center;
        flex-direction: column;
    }


    &__header-options {
        justify-content: center;
        --gap: 1rem;

        @include mq_large_screen() {
            --gap: 0;
            justify-content: space-between;
        }
    }


    /* Second block */
    &__fund {
        --gap: 2rem;
    }


    &__fund-column-group {
        justify-content: center;

        @include mq_large_screen() {
            grid-template-columns: repeat(3, 1fr);
        }
    }


    &__fund-column {
        display: flex;
        align-items: center;
        flex-direction: column;

        // underline 
        &::after {
            content: "";
            width: 50%;
            height: 0.031rem;
            background-color: var(--clr-neutral-400);
            margin-top: 1.4rem;
        }
    }


    /* Third block */
    &__about-text {
        margin-block: 1.5rem;
    }


    &__rewards {
        --gap: 1.75rem;
        margin-top: 2rem;
    }
}


/* 
Out of stock colors:
    --heading-color: hsl(0, 0%, 45%);
    --pledge-color: hsl(176, 50%, 70%);
    --text-color: hsl(0, 0%, 75%);
    --button-color: var(--text-color);
*/


.riser-reward {
    --_heading-color: var(--heading-color, var(--clr-neutral-900));
    --_pledge-color: var(--pledge-color, var(--clr-primary-400));
    --_text-color: var(--text-color);

    @extend .riser__block;
    border-color: var(--clr-neutral-400);
    padding: 1.75rem;
    color: var(--_text-color);


    &--out {
        --heading-color: hsl(0, 0%, 45%);
        --pledge-color: hsl(176, 50%, 70%);
        --text-color: hsl(0, 0%, 75%);
        --button-bg: var(--text-color);

        border-color: var(--clr-neutral-300);
    }
    

    &__main-content {
        display: grid;
        grid-template-areas:
        "header"
        "desc"
        "amount"
        "button";
        grid-template-columns: 1fr;
        row-gap: 1rem;


        // change layout for the content inside of reward card
        @include mq_large_screen() {
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas:
            "header header header"
            "desc desc desc"
            "amount ... button";
    
    
            .riser-reward__header {
                flex-direction: row;
                align-items: center;
            }
        }


        &--select {
            align-items: center;
            grid-template-columns: auto 1fr 1fr;

            grid-template-areas:
            "check header ..."
            "desc desc desc"
            "amount ... ...";

            
            
            @include mq_large_screen() {
                grid-template-columns: auto 16rem 2fr 1fr;
                grid-template-areas:
                "check header ... amount"
                "... desc desc desc";
                gap: 0.5rem 1rem;
            }
        }
    }


    &__checkbox {
        grid-area: checkbox;
    }


    &__header {
        --gap: 0.5rem;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        grid-area: header;

        white-space: nowrap;
    }


    &__heading {
        color: var(--_heading-color);
    }


    &__pledge {
        color: var(--_pledge-color);
    }


    &__description {
        color: var(--_text-color);
        grid-area: desc;
    }


    &__amount-left {
        grid-area: amount;
    }


    &__amount-left span {
        color: var(--_heading-color);
    }


    &__button {
        grid-area: button;
    }
}