@use "base";
@use "utils";
@use "layout";
@use "components";


.hero-background {
    position: absolute;
    width: 100%;
    z-index: -1;

    &__img {
        width: 100%;
    }
}


body {
    font-family: var(--ff-primary);
}
