@use "base";
@use "utils";
@use "layout";
@use "components";


.hero-section {
    width: 100%;
    z-index: -1;

    &__img {
        width: 100%;
    }
}


body {
    background: var(--clr-neutral-200);
    font-family: var(--ff-primary);
}
